.user-menu{
    width: 27.5%;
    position: fixed;
    > div{
        width: 100%;
        display:flex;
        align-items: center;
        font-weight: 600;
        padding: 8px 0px 8px 0px;
        color: rgb(23, 4, 86);
        cursor: pointer;
        img{ 
            margin-left: 14px;
            width: 32px;
            height: 32px;   
            margin-right: 8px;
        }
        .user-icon{ 
            margin-left: 14px;
            margin-right: 8px;
            width: 32px;
            height: 32px;
            position: relative;
            overflow: hidden;
            border-radius: 100%;
        }
        .user-icon img {
            display: inline;
            margin: 0 auto;
            height: auto;
            width: 100%;
        }

        
    }
    > div:hover{
        background-color: lightgray;
        border-radius: 16px;
    }
    animation: sideslide 2.2s ease-in-out;
    @keyframes sideslide {
        0% { left: -100%; position: relative;}
        50%{ left: -100%; position: relative;}
        90%{ left: 12px; position: relative;}
        100%{ left: 0px; position: relative;}
    }
}