.post-form{
    display: flex;
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    transition: 1.6s linear;
    .user-icon{
      margin-right: 8px;
      width: 36px;
      height: 36px;
      position: relative;
      overflow: hidden;
      border-radius: 100%;
    }
    .user-icon img {
        display: inline;
        margin: 0 auto;
        height: auto;
        width: 100%;
    }
    .user-info-box{
      display: flex;
      align-items: center;
      cursor: pointer;
      
    }
    .post-image{
      margin-top: -20px;
      margin-bottom: 10px;
      border-radius: 10px;
    }
    .post-form-view{
        background-color: rgb(247, 247, 247);
        border: none;
        width: 96%;
        text-align: left;
        padding-left:12px;
        border-radius: 24px;
        color: rgb(119, 119, 119);
        font-size: 16px;
        padding: 10px;
        padding-left: 16px;
        cursor: pointer;
    }
    .post-form-full-view{
        margin-top: 4px;
        width: 100%;
        font-weight: 500;
        color: rgb(23, 4, 86);
        .smiley{
          position: relative;
          width: 24px;
          height: 24px;
          left: calc( 100% - 24px);
          bottom: 28px;
          cursor: pointer;
        }
        .content{
            display: flex;
            flex-direction: column;
        }
        textarea{
            resize: none;
            font-size: 18px;
            margin-top: 10px;
            width: 100%;
            outline: none;
            border: none;
            font-family: 'Segoe UI';
          }
          #inputTag {display: none; }
          .upload{
            height: 32px;
            width: 32px;
            cursor: pointer;
          }
          .post-button{
            width: 40%;
            border: none;
            padding: 12px;
            border-radius: 8px;
            font-weight: 700;
            cursor:not-allowed;
          }
          .upload-post-box{
            display: flex;
            justify-content: space-between;
            .post-button.true{
              background: #3333cc;
              color: white;
              cursor: pointer;
            }
          }
          .close-button{
            position: absolute;
            right: 0px;
            top: 0px;
          }
    }
}
.post-form-full-view{
    animation: grow 1.6s ease-in-out;
    position: relative;
    @keyframes grow {
      0% { max-height: 0px; overflow: hidden;}
      100%{ max-height: 1000px; overflow: hidden;}
  }
}


.post-form{
  z-index: 200;
  position: relative;
  animation: comedown 3.2s ease-in-out;
  @keyframes comedown {
      0% {top: -400px; }
      65%{ top: -400px;}
      90%{ top: 10px; }
      100%{ top: 0px;}
  }
}

.emoji-picker{
  position: absolute;
  left: calc(70% - 20px);
  bottom: -250px;
}
.text-box{
  position: relative;
}