.login-screen {
    background: linear-gradient(60deg, rgb(44, 8, 46) 0%, #3333cc 100%);
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    .left-box{
        width: 30vw;
        .label{
            display:flex;
            align-items: center;
            .logo { width: 100px; }
            .name { height: 36px; }
        }
    }
    .right-wrapper{
        display:flex;
        flex-direction: column;
    }
    .error{
            z-index: 300;
            align-self: center;
            text-align: center;
            position: relative;
            background-color: rgb(245, 69, 69);
            border-top-right-radius: 12px ;
            border-top-left-radius: 12px;
            padding:12px;
            color:white;
            font-weight: bolder;
            width: 70%;
            height: 30px;
            top: 10px;
            animation: comeup 0.8s ease-in-out;
            @keyframes comeup {
                0% { top: 80px; }
                70%{ top: 0px; }
                100%{ top: 10px;}
            }
        }
    .noerror{
        height: 30px;
        width: 70%;
        padding:12px;
    }
    .right-box{
        overflow: hidden;
        display:flex;
        position: relative;
        z-index: 400;
        flex-direction: column;
        align-items: center;
        background-color: white;
        border-radius: 12px;
        padding:12px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        width: 400px;
        height: 280px;
        .login, .register{
            width: 80%;
            height: 100%;
            display:flex;
            flex-direction: column;
            justify-content: space-evenly;
            input,button{
                padding:16px;
                border-radius: 6px;
            }
            button{
                background-color:#3333cc;
                border:none;
                color:white;
                font-style: oblique;
                font-weight: bolder;
            }
            input{
                padding-left: 16px;
                border: 1px solid rgb(228, 228, 228);
            }
            input:focus{
                outline: 1px solid #3333cc;
            }
            .line{
                height: 1px;
                background-color: rgb(228, 228, 228);
            }

            button:nth-of-type(2){
                background-color: rgb(20, 208, 20);
            }
            .buttons-box{
                display:flex; 
                justify-content: space-between;
                button{ width: 48%;}
            }
        }
        .register{
            position: relative;
            animation: slideup 0.8s ease-in-out;
            height: 100%;
            input,button{padding:14px;}
            @keyframes slideup {
                0% { top: 100%; }
                70%{ top: -3%; }
                100%{ top: 0%;}
            }
        }
        .login{
            position: relative;
            animation: slidedown 0.8s ease-in-out;
            @keyframes slidedown {
                0% { top: -100%; }
                70%{ top: 3%; }
                100%{ top: 0%;}
            }
        }
    }

    .wave{
        position: absolute;
        bottom: 0px;
        left:0px;
        width: 100%;
        height: 100px;
        background: url('wave.png');
        background-size: 1000px 100px ;
        background-repeat: repeat-x;
    }
    .creator{
        position: absolute;
        bottom: 10px;
        left:10px;
        color:rgb(105, 105, 105);
        z-index: 1001;
    }
    section .wave.wave1{
        z-index: 1000;
        opacity: 1;
        animation-delay: 0s;
        animation: flow 28s linear infinite;
    }

    section .wave.wave2{
        z-index: 999;
        opacity: 0.6;
        animation-delay: -5s;
        animation: flow 16s linear infinite;
    }

    section .wave.wave3{
        z-index: 998;
        opacity: 0.3;
        animation-delay: -10s;
        animation: flow 8s linear infinite;
    }
    @keyframes flow
    {
        0% { background-position: -1000px 0px; }
        100%{ background-position: 0px 0px; }
    }
}