.mainpage{
    height: 100vh;
}
.nav-wrapper{
    position: relative;
    top: -20px;
    padding-top: 20px;
    background: #00cc99;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    position: relative;
    animation: slidedown 1.2s ease-in-out;
    @keyframes slidedown {
        0% { top: -100%; }
        70%{ top: -12px; }
        100%{ top: -20px;}
    }
}