.mainpage{
    padding-top: 20px;
    min-height: 100vh;
    height: 100%;
    background-color: rgb(243, 243, 243);
}
.nav-wrapper{
    position: sticky;
    z-index: 6000;
    top: 0px;
    background: #00cc99;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    animation: slidedown2 1s ease-in-out;
    @keyframes slidedown2 {
        0% { position: relative; top: -300px; padding-top: 20px;}
        70%{ position: relative; top: -12px; padding-top: 20px; }
        100%{ position: relative; top: -20px; padding-top: 20px;}
    }
}
.posts-wrapper{
    width: 50%;
    display: flex;
    justify-content: center;
    margin-left: 25%;
    margin-right: 25%;
}
