.user-data{
    width: calc(40% + 20px);
    margin-right: 20px;
    height: 2000px;
}
.photos-list{
    display: flex;
    flex-wrap: wrap;
    min-height: 200px;
    .photo{
        margin: 4px;
        width: 44%;
        height: 13.5vw;
        position: relative;
        overflow: hidden;
        flex-grow: 3;
        cursor: pointer;
    }
    .photo img{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 6px;
    }
}
.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(23, 4, 86);
    .title{
        font-weight: 500;
        font-size: larger;
        cursor: default;
    }
    div{
        cursor: pointer;
    }
}
.friends-list{
    position: sticky;
    top: 60px;
    .friends-flexbox{
        display: flex;
        flex-wrap: wrap;
    }
    .friend{
        font-weight: 500;
        margin-right: 12px;
        text-align: center;
        cursor: pointer;
        .user-icon{
            width: 8vw;
            height: 8vw;
            position: relative;
            overflow: hidden;
            border-radius: 6px;
        }
        .user-icon img {
            display: inline;
            margin: 0 auto;
            height: auto;
            width: 100%;
        }
    }
}
.user-data > div{
    margin-top: 20px;
    padding: 20px;
    font-weight: 500;
    color: rgb(23, 4, 86);
    font-size: larger;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    background-color: white;
}
.user-data > div > div {
    margin: 10px 0px 10px 0px;
    font-size: medium;
    font-weight: 400;
}
#inputTag,#inputTag2{
    display: none;
 }
