.owner-posts{
    width: calc(60% - 40px);
    margin-top: 20px;
}

.profile{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    
}
.profile-content{
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    align-self: center;
    width: 70%;
    .upload{
        left: 140px;
        bottom: 20px;
        position: absolute;
        background-color:rgba(184, 184, 184, 0.26) ;
        height: 32px;
        width: 32px;
        border-radius: 26px;
        padding: 6px;
        cursor: pointer;
    }

}
