.comment-box{
    width: 50%;
    display:flex;
    margin-bottom: 8px;
    align-items: center;
    justify-content: flex-end;
    .comment-text:hover{
        cursor: pointer;
        text-decoration: underline;
    }

}
.comment-bottom{
    width: 100%;
    border-top: 1px rgb(220, 220, 220) solid;
    background-color: white;
    padding-top: 8px;
    .comment-input > textarea{
        font-family: 'Segoe UI';
        background-color: rgb(247, 247, 247);
        border: none;
        width: 82%;
        border-radius: 24px;
        color: rgb(119, 119, 119);
        font-size: 16px;
        padding: 10px;
        padding-left: 16px;
        resize: none;
        outline: none;
        border: none;
    }
    input:focus{
        outline: 1px solid #c0c0c0;
    }
    .user-icon{
        margin-top: 4px;
        align-self: flex-start;
        margin-left: 14px;
        margin-right: 8px;
        width: 32px;
        height: 32px;
        position: relative;
        overflow: hidden;
        border-radius: 100%;
    }
    .user-icon img {
        display: inline;
        margin: 0 auto;
        height: auto;
        width: 100%;
    }
}


.comment-owner{
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: medium;
    color: rgb(37, 13, 117);
    padding-top: 12px;
    .name{ cursor: pointer;  }
    .comment-data{
        max-width: 82%;
        padding: 6px;
        padding-left: 12px;
        padding-right: 12px;
        background-color: rgb(247, 247, 247);
        border-radius: 12px;
        .text{
            color:#383838;
            font-weight: 400;
        }
    }
}
.comment-bottom.true{
    animation: grow2 4s ease-in;
    position: relative;
    overflow: visible;
    @keyframes grow2 {
        0% { max-height: 0px; overflow: hidden;}
        100%{ max-height: 10000px; overflow: hidden;}
    }
}
